body {
    color: rgb(155, 0, 0);
}

h1 {
    font-size: 1cm;
}

h2 {
    font-size: 0.75cm;
    color: crimson;
}

p {
    color: navy;
    font-size: 0.5cm;
}

img {
    display: block;
    margin: 0 auto;
}

p {
    margin: 0 auto;
    word-break: keep-all;
    font-family:'Courier New', Courier, monospace;
    font-weight: 700;
}